*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.gen_mon{
    margin: 0;
    background-color: rgba(232,225,230, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;  
    /* max-width: 1200px;   */
}
.d_mon{
    
    display: flex;
    flex-direction: column;
}
.d_m_b{
    box-sizing: border-box;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 24px;
    display: grid;
}
.d_mons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.d_mon_n{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.d_mon_n1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.bgd{
    background: rgb(233, 249, 242);
    border-radius: 4px;
    padding: 4px 8px;
    color: rgb(33, 155, 103);
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    margin-right: 16px;
}
.dmon_lop{
    margin-right: 8px;
    border-radius: 4px;
    color: rgb(155, 155, 155);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 4px 6px;
    line-height: 1;
    border: 1px solid;
    border-color: rgb(249, 186, 152);
    background-color: rgb(253, 236, 236);
}