*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.gv{
    margin: 0;
    background-color: rgba(232,225,230, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;  
    /* max-width: 1200px;   */
}
.gv_dl{
    box-sizing: border-box;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 24px;
    display: grid;
}
.gv_dls {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px;
}
.backimg{
 background-color: bisque;
 border-radius: 30%;
}
.backimg img {
    transform: translate(0, -15%);
}
.gv_mon{
    transform: translate(0, -50%);
    line-height: 150%;
    background-color: white;
    color: red;
    border: 1px solid rgb(33, 155, 103);
    border-radius: 4px;
    width: 50%;
    text-align: center;
    font-size: 24px;
}
.gv_mon:hover{
    background-color: yellow;
}
p{
    
    margin: 0;
}