.gv1{
    margin: 0;
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introducegv1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
}
.introduce2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    margin-top: 50px;

}