#mainMenu{
    background: rgba(255,255,255,1);   
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* border: dotted 1px; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    position: fixed;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 11;
}
.imglogo{
    height: 100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.drop_menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.nav_items{
    /* height: 100%;
    background-color: beige; */
    color: rgb(0,0,0);
    position: relative;
    display: block;
    margin: 24px 10px 0;
    padding: 16px 0 30px;
    border-bottom: 3px solid transparent;
    z-index: 40;
    font-size: 20px;
    font-family: Lucida Sans Unicode;    
    text-decoration: none;
}
.nav_items:hover{
    border-bottom: 2px solid rgb(189,183,107);
    color: rgb(189,183,107);
}