*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
}

ul{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    
    width: 230px;
    text-align: start;
}

