.home2{
    margin: 0;
}
.home2_introduce1{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.home2_introduce1_1{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    text-align: center;
}
.home2_introduce1_block{
    background-color: rgba(244,194,194, 0.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5%;
    
}
.home2_introduce1_block:hover{
    background-color: rgba(232,225,230, 0.5);
}
.home2_introduce1_img{
    width: 100px;
    border-radius: 10%;
    object-fit: contain;
}
.home2_introduce2{
    margin-top: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.home2_introduce2_1{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    text-align: center;
}
.home2_introduce2_1_block{
    height: 40px;
    line-height: 40px;
    border-radius: 10%;
}