.home1{
    margin: 0;
    background-color: rgba(232,225,230, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduce1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
}
.introduce2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    margin-top: 50px;

}
.introduce2_1{
    width: 300px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}
.introduce2_1 p{
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: "#486241",
    
}
.introduce2_1 img{
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-self: center;
    object-fit: contain;
}