.ielt{
    position: inherit;
    margin: 0;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduct_ielt{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
}
.introduct_ielt_1{
    text-align: start;
    min-width: 50%;
}
.introduct_ielt_2{
    text-align: start;
    max-width: 50%;

}
.diagram_ielt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.a2{
    position: initial;
    transform: rotateX(45deg) rotateZ(-45deg);
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: rgb(86, 42, 118) -4px 4px 0px 0px, rgb(189, 189, 189) -20px 20px 30px 0px; */
    background: rgb(246, 245, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 70px;
    height: 70px;
    font-size: 30px;
}
.duongvach{
    border-radius: 5px;
    width: 2px;
    height: 23px;
    background-image: repeating-linear-gradient(to right, rgb(116, 197, 229) 0%, rgb(116, 197, 229) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, rgb(116, 197, 229) 0%, rgb(116, 197, 229) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(rgb(116, 197, 229) 0%, rgb(116, 197, 229) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(rgb(116, 197, 229) 0%, rgb(116, 197, 229) 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
}
.ignite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 20px;
}
.i_ignite{
    color: #2B8288;
    width: 100%;
    border-radius: 0.375rem;
    
}
.i_ignite_p{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
}
.i_ignite_p2{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.i_ignite_p3{
    margin-top: 1rem;
    font-size: 32px;
}