.footer{
    width: 100%;
    padding: auto;
    background-color: rgb(244,191,212);
}
.footer_dl{
    max-width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_dl div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 25%;
    color: #424242;
    font-size: 15px;
}
p {
    text-align: start;
}